/*----- GENERAL ------- */

.hidden{
    height: 0px;
    opacity: 0;
}

.showing{
    height: 100% !important;
    opacity: 1;
}

/*------ CONTACTO ------ */

#contacto{

    .main-wrapper{
        padding-top: 70px;

        h2{
            font-size: $regular;
            font-weight: bold;
        }

        .contact-email{
            color: $grey; 
            text-decoration: underline; 
        }
    }
}

/*------- INFO LEGAL -------- */

#legal{

    .main-wrapper{
        padding-top: 170px;

        @include phone-only{
            padding-top: 80px;
        }

        h2.section-title{
            @extend %section-title;
            border-bottom: 1px solid $grey;
            cursor: pointer;
            &::before{
                @extend %dropdown-icon;
            }
        }

        .drop-down{
            overflow: hidden;
            transition: height .3s, opacity .3s ease-out;

            h3.subsection{
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                padding-top: 35px;
    
                &::before{
                    counter-increment: subsection;
                    content: counter(subsection) ". ";
                }
            }
    
            .no-bullets{
                list-style-type: none;
                padding-inline-start: 0;
            }
        }
    
    }
}


