/*----- GENERAL ------- */

.hidden{
    height: 0px;
    opacity: 0;
}

.showing{
    height: 100% !important;
    opacity: 1;
}

/*------ CONTACTO ------ */

#contacto{

    .main-wrapper{
        padding-top: 70px;

        h2{
            font-size: $regular;
            font-weight: bold;
        }

        .contact-email{
            color: $grey; 
            text-decoration: underline; 
        }
    }
}

/*------- INFO LEGAL -------- */

#legal{

    .main-wrapper{
        padding-top: 170px;

        @include phone-only{
            padding-top: 80px;
        }

        h2.section-title{
            @extend %section-title;
            border-bottom: 1px solid $grey;
            cursor: pointer;
            &::before{
                @extend %dropdown-icon;
            }
        }

        .drop-down{
            overflow: hidden;
            transition: height .3s, opacity .3s ease-out;

            h3.subsection{
                font-size: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                padding-top: 35px;
    
                &::before{
                    counter-increment: subsection;
                    content: counter(subsection) ". ";
                }
            }
    
            .no-bullets{
                list-style-type: none;
                padding-inline-start: 0;
            }
        }
    
    }
}

/*---------- BLOG ---------- */

#blog-index{

    section, div{
        border: 1px solid firebrick;
    }

    .hero{

        .social{ // create component!
            padding: 0;
            flex-wrap: wrap;
    
            .social-icon{ 
                padding: {
                    top: 10px;
                    right: 0.5rem;
                }
    
                img{
                    width: 30px;
                    mix-blend-mode: exclusion;

                    @include tablet-landscape-down{
                        width: 20px;
                    }
                }
    
            }  
            
        }
    }

    #follow-us{

        .social-icons{ // create component!
            padding: 0;
            flex-wrap: wrap;
    
            .social-icon{
                padding: {
                    top: 10px;
                    right: 0.5rem;
                }
    
                img{
                    width: 30px;
                    mix-blend-mode: exclusion;

                    @include tablet-landscape-down{
                        width: 20px;
                    }
                }
    
            }
        }
    }
}

/* unused (but just-in-case) classes --> remove?

.blog-module


*/


