%hero{
    height: 355px;
    width: 100%;
    padding-top: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #f9f9f9;

    @include tablet-portrait-to-landscape{
        height: 300px;
    }

    @include tablet-portrait-down{
        height: 250px;
        background-color: transparent;
    }
}

%hero-title{       
    font-size: $huge;
    font-weight: bold;
    background-color: $bootsblack; // fallback
    background-image: linear-gradient(to right, $pink, $beakblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

%section-title{
    font-size: $big;
    font-weight: bold;
    padding-bottom: 45px;
}

%dropdown-icon{
    content: url(../../img/vec/boton_mas_activo.svg);
    display: inline-flex;
    width: 20px;
    position: absolute;
    top: -5px;
    left: -40px;
    opacity: 0.3;
    transition: opacity .3s;

    @include phone-only{
        top: -40px;
        left: 0;
    }

    &.open{
        content: url(../../img/vec/boton_menos_popup.svg);
        opacity: 1;
    }
}