%hero{
    height: 355px;
    width: 100%;
    padding-top: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #f9f9f9;

    @include tablet-portrait-to-landscape{
        height: 300px;
    }

    @include tablet-portrait-down{
        height: 250px;
        background-color: transparent;
    }
}

%hero-title{       
    font-weight: bold;
    background-color: $bootsblack; // fallback
    background-image: linear-gradient(to right, $beakpink, $beakblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $huge;
    &.downfont{
        font-size: $big;
    }
    bottom: 40px;
    &.long-text{
        @include tablet-portrait-down{
            bottom: 0;
        }
    }
}

%section-title{
    font-size: $big;
    font-weight: bold;
    padding-bottom: 45px;
}

%dropdown-icon{
    content: url(../../img/vec/boton_mas_activo.svg);
    display: inline-flex;
    width: 20px;
    position: absolute;
    top: -5px;
    left: -40px;
    opacity: 0.3;
    transition: opacity .3s;

    @include phone-only{
        top: -40px;
        left: 0;
    }

    &.open{
        content: url(../../img/vec/boton_menos_popup.svg);
        opacity: 1;
    }
}

%beak-button{
    position: relative;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: transparent;
    border-color: $grey;
    border-radius: 5px;
    padding: {
        left: 1rem;
        right: 1rem;
    }
    &:hover{
        background-image: linear-gradient(90deg, $beakpink, $beakblue);
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-mask-image: linear-gradient(180deg, transparent, black);
            background-image: linear-gradient(90deg, $beakflesh, $beakgreen);
            mix-blend-mode: color;
        }
    }
    &:active{
        box-shadow: inset .1em .1em 20px 0px #00000020;
    }
}

%row-icon{
    display: block;
    width: 35px;
    position: absolute;
    top: -30px;
    &.iluminacion{
        content: url('../../img/vec/iluminacion.svg');
    }
    &.conexiones{
        content: url('../../img/vec/conexiones.svg');
        width: 25px;
    }
    &.colores{
        content: url('../../img/vec/colores.svg');
    }
    &.materiales{
        content: url('../../img/vec/materiales.svg');
    }
    &.dimensiones{
        content: url('../../img/vec/dimensiones.svg');
        width: 25px;
    }
}