#config{

    div,section {
        border: 1px solid brown;
    }

    // General

    section:not(.container){
        padding-top: 80px;

        @include tablet-portrait-up{
            padding-top: 120px;
        }
    }

    .section-title{
        @extend %section-title;
    }

    #cotas,
    #cotas-details{

        img{

            height: 330px;
            
            @include phone-only{
                margin-bottom: 20px;
            }

            @include phone-to-tablet-landscape{
                height: 350px;
            }

            @include tablet-landscape-up{
                height: 570px;
            }
            
        }
    }

    #cotas-details{

        .col-sm-9{

            @include phone-only{
                padding: 0;
            }
            
        }
    }

    #beakart,
    #customize,
    #custom-models{

        img{
            width: 325px;

            @include desktop-down{
                width: 100%;
            }
        }
    }

    #choose-models{

        .col-sm-6{ // give ownn class-name!

            @include phone-only{
                padding-top: 40px;
            }
        }

        img.back{
            left: 15%;
            top: -15%;
            z-index: -1;

            @include phone-up{
                left: 40%;
                top: -25%;
            }
        }
    }

    #models-table{

        overflow: scroll;

        .table-row{
            padding: {
                top: 45px;
                bottom: 45px;
            }

            .col-2{

                .row{
                    flex-direction: column;
    
                    .row-icon > img{
                        width: 35px;
                    }
            
                    .row-name{
                        padding-top: 1rem;
                        color: $grey;
                    }
                }
    
            }

            .row-name{
                color: $grey;
                &::before{
                    @extend %row-icon;
                }
                
            }

            .col-md-9 > .row{

                @include phone-only{
                    flex-wrap: nowrap;
                }
            }
        } 

        #table-header h3{
            font-weight: bold;
        }

        #table-iluminacion p{
            margin-bottom: 0;
        }

        #table-iluminacion ul.feat-list,
        #table-conexiones ul.feat-list{
            padding-inline-start: 0.9em;
            font-weight: bold;
        }

        #table-colores,
        #table-materiales{

            .col-sm-6 .row{
                width: 100%;
                padding-left: 15px;

                .swatch{
                    width: 45px;
                    height: 45px;
                    padding: 0;
                    margin-right: 0.5em;
                    border-radius: .5em;

                    @include tablet-landscape-down{
                        width: 35px;
                        height: 35px;
                    }
    
                    img{
                        width: 100%;
                    }
    
                    &.blue{
                        background-color: $blueswatch;
                    }
                    &.pink{
                        background-color: $pinkswatch;
                    }
                    &.green{
                        background-color: $greenswatch;
                    }
                    &.grey{
                        background-color: $greyswacth;
                    }
    
                }
            }
        }

        #table-dimensiones{
            
            ul.feat-list{
                list-style-type: none;
                padding-inline-start: 0;
            }
        }

        #table-cotas{

            img{
                width: 285px;
            }
        }

        #table-buttons{
            padding-top: 90px;

            .btn-wrapper{
                @include phone-only{
                    text-align: center;
                }

                button{
                    @extend %beak-button;
                }
            }

        }
        
    }

    #beakart{

        .beakart-img{
            align-self: flex-end;
        }
    }

    #beakart-carousel{

        background-image: url(../../img/beakart_frame.jpg);
        background-repeat: no-repeat;
        background-position: center;

        .owl-stage{
            display: flex !important;
    
            img{
                width: 340px !important;
                margin: auto;
                padding-top: 0.3rem;
            }
        }

    } 

    #customize{

        .customize-img{
            align-self: flex-end;
        }
    }

   #download{
       
        .download-btns{
           padding-top: 45px;
           display: flex;
           justify-content: space-between;

           @include tablet-portrait-down{
               justify-content: space-around;
           }

           button{
               @extend %beak-button;
           }
        }

   }

}