#config{

    //// General

    section:not(.container){
        padding-top: 80px;

        @include tablet-portrait-up{
            padding-top: 120px;
        }
    }

    .section-title{
        @extend %section-title;
    }

    // Swatches tooltip-popovers (re-styles Bootstrap's)
    .popover{
        @extend %tooltip-popover;
    }

    //// End General

    #cotas{

        overflow: hidden;
        position: relative;
        .profile-col, svg,
        img{
            height: 330px;
            
            @include phone-only{
                margin-bottom: 20px;
            }

            @include phone-to-tablet-landscape{
                height: 350px;
            }

            @include tablet-landscape-up{
                height: 570px;
            }

            .plus-icon{
                position: relative;
                transition: fill .5s;
                &:hover{
                    fill: $bootsblack;
                }
            }
            
        }

        // Scroll-triggered animations

        #front-profile{
            opacity: 1;
                &.trigger-animation{
                    animation-name: fade-out;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                    @keyframes fade-out{
                        0%{
                            opacity: 1;
                        }
                        100%{
                            opacity: 0;
                        }
                    }
                }
        }
        
        #left-profile{
            right: 0;
            &.trigger-animation{
                animation-name: slide-left;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                @keyframes slide-left{
                    0%{
                        right: 0;
                    }
                    100%{
                        right: 500px;
                    }
                }
            }
            
        }

        #right-profile{
            left: 0;
            &.trigger-animation{
                animation-name: slide-right;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                @keyframes slide-right{
                    0%{
                        left: 0;
                    }
                    100%{
                        left: 500px;
                    }
                }
            }
            
        }

        #cotas-details{
            position: absolute;
            top: 0;
            left: 0;

            @include phone-only{
                top: auto;
                bottom: 30px;
            }

            @include desktop-up{
                left: 12.5%;
            }

            svg{
                opacity: 0;
                &.trigger-animation{
                    animation-name: fade-in;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                    @keyframes fade-in{
                        0%{
                            opacity: 0;
                        }
                        100%{
                            opacity: 1;
                        }
                    }
                }
                    
            }

        }

        // End scroll-triggered animations
        
    }

    #cotas-details{

        .col-sm-9{ // give own class-name!

            @include phone-only{
                padding: 0;
            }
            
        }
    }

    #beakart,
    #customize{

        img{
            width: 325px;

            @include desktop-down{
                width: 250px;
            }
        }
    }

    #choose-models{

        .col-sm-6{ // give own class-name!

            padding-top: 40px;

            @include phone-to-tablet-landscape{
                padding-top: 100px;
            }

            @include tablet-landscape-up{
                padding-top: 200px;
            }

            .img-wrapper{
                position: relative;
                width: 100%;

                img:not(.null){
                    transition: width, bottom, left, 1s ease-in-out;
                }

                img.front{
                    bottom: 0;
                    left: 0;
                    &.animate{
                        width: 195px !important;
                        position: absolute;
                        bottom: -125px;
                        left: -45%;

                        @include phone-to-tablet-portrait{
                            bottom: -30%;
                            left: -60%;
                        }
                    } 
                }

                img.null{
                    position: absolute;
                    top: 0;
                    left: 0;
                    &.animate{
                        position: relative;
                        opacity: 0;
                    }
                }
                
                img.back{
                    position: absolute; 
                    left: 15%;
                    top: -15%;
                    bottom: 50px;
                    z-index: -1;
        
                    @include phone-up{
                        left: 40%;
                        top: -25%;
                    }
                    &.animate{
                        width: 195px !important;
                        top: auto;
                        bottom: -125px;
                        left: 60%;

                        @include phone-to-tablet-portrait{
                            bottom: -30%;
                            left: 50%;
                        }
                    }
                }
            }
        }
        
    }

    #models-table{

        @include phone-only{
            overflow-x: scroll;
        }

        .table-row{
            padding: {
                top: 45px;
                bottom: 45px;
            }

            .col-2{ // give own class-name!

                .row{
                    flex-direction: column;
    
                    .row-icon > img{
                        width: 35px;
                    }
            
                    .row-name{
                        padding-top: 1rem;
                        color: $grey;
                    }
                }
    
            }

            .row-name{
                color: $grey;
                &::before{
                    @extend %row-icon;
                }
                
            }

            .col-md-9 > .row{ // give own class-name!

                @include phone-only{
                    flex-wrap: nowrap;
                }
            }
        } 

        #table-header h3{
            font-weight: bold;
        }

        #table-iluminacion p{
            margin-bottom: 0;
        }

        #table-iluminacion ul.feat-list,
        #table-conexiones ul.feat-list{
            padding-inline-start: 0.9em;
            font-weight: bold;
        }

        #table-colores,
        #table-materiales{

            .col-sm-6 .row{ // give own class-name!
                width: 100%;
                padding-left: 15px;

                .swatch{
                    position: relative;
                    width: 45px;
                    height: 45px;
                    padding: 0;
                    margin-right: 0.5em;
                    border-radius: .5em;
                    cursor: pointer;
                    &:focus{
                        cursor: auto;
                        outline-width: 0px;
                    }

                    @include tablet-landscape-down{
                        width: 35px;
                        height: 35px;
                    }
    
                    img{
                        width: 100%;
                    }
    
                    &.blue{
                        background-color: $blueswatch;
                    }
                    &.pink{
                        background-color: $pinkswatch;
                    }
                    &.green{
                        background-color: $greenswatch;
                    }
                    &.grey{
                        background-color: $greyswacth;
                    }
                        
                }
                
            }
        }

        #table-dimensiones{
            
            ul.feat-list{
                list-style-type: none;
                padding-inline-start: 0;
            }
        }

        #table-cotas{

            img{
                width: 285px;
            }
        }

        #table-buttons{

            @include desktop-up{
                padding-top: 90px;
            }

            .btn-wrapper{
                @include phone-only{
                    text-align: center;
                }

                button{
                    @extend %beak-button;
                }
            }

        }
        
    }

    #beakart{

        .beakart-img{
            align-self: flex-end;
        }
    }

    #beakart-carousel{
        background-image: url(../../img/beakart_frame.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
        height: 360px;

        .owl-stage{
            display: flex !important;
            padding-top: 5px;

            @include phone-up{
                padding-top: 10px;
            }
    
            img{
                margin: auto;
                padding-top: 0.3rem;
                width: 390px !important;

                @include phone-only{
                    width: 90% !important;
                }

            }
        }

        .owl-nav{

            button{
                position: absolute;
                top: 35%;

                span{
                    font-size: 3rem;
                    color: $grey;
                }

                &.owl-prev{
                    left: 0;

                    @include tablet-landscape-to-desktop{
                        left: 22.5%;
                    }

                    @include desktop-up{
                        left: 32.5%;
                    }
                }
                &.owl-next{
                    right: 0;

                    @include tablet-landscape-to-desktop{
                        right: 22.5%;
                    }

                    @include desktop-up{
                        right: 32.5%;
                    }
                }
                &:hover{
                    background-color: transparent;
                }
    
            }
            
        }

        .btn-wrapper{
            bottom: -40px;
            left: 37.5%;

            @include phone-to-desktop{
                bottom: -60px;
                left: 45%;
            }

            @include desktop-up{
                bottom: -80px;
                left: 47%;
            }

            button{
                @extend %beak-button;
            }
        }

    } 

    #customize{

        .customize-img{
            align-self: flex-end;
        }
    }

    #custom-models{

        @include tablet-portrait-down{
            overflow-x: scroll;
        }

        .row.imgs-wrapper{
            
            @include tablet-portrait-down{
                flex-wrap: nowrap;
            }

            img{
                width: 100%;

                @include tablet-portrait-down{
                    width: 250px;
                }
            }

            .btn-wrapper{
                padding-top: 40px;

                button{
                    @extend %beak-button;
                }
            }
        }
    }

   #download{
       
        .download-btns{
           padding-top: 45px;
           display: flex;
           justify-content: space-between;

           @include tablet-portrait-down{
               justify-content: space-around;
           }

           button{
               @extend %beak-button;
           }
        }

   }

}