#config{

    div, section{
        border: 1px solid royalblue;
    }

    //// General

    section:not(.container):not(#models-table){
        padding-top: 80px;

        @include tablet-portrait-up{
            padding-top: 120px;
        }
    }

    .section-title{
        @extend %section-title;
    }

    // Swatches tooltip-popovers (re-styles Bootstrap's)
    .popover{
        @extend %tooltip-popover;
    }

    //// End General

    #cotas{

        overflow: hidden;
        position: relative;
        .profile-col, svg,
        img{
            height: 330px;
            
            @include phone-only{
                margin-bottom: 20px;
            }

            @include phone-to-tablet-landscape{
                height: 350px;
            }

            @include tablet-landscape-up{
                height: 570px;
            }

            .plus-icon{
                position: relative;
                transition: fill .5s;
                &:hover{
                    fill: $bootsblack;
                }
            }
            
        }

        // Scroll-triggered animations

        #front-profile{
            opacity: 1;
                &.trigger-animation{
                    animation-name: fade-out;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                    @keyframes fade-out{
                        0%{
                            opacity: 1;
                        }
                        100%{
                            opacity: 0;
                        }
                    }
                }
        }
        
        #left-profile{
            right: 0;
            &.trigger-animation{
                animation-name: slide-left;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                @keyframes slide-left{
                    0%{
                        right: 0;
                    }
                    100%{
                        right: 500px;
                    }
                }
            }
            
        }

        #right-profile{
            left: 0;
            &.trigger-animation{
                animation-name: slide-right;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                @keyframes slide-right{
                    0%{
                        left: 0;
                    }
                    100%{
                        left: 500px;
                    }
                }
            }
            
        }

        #cotas-details{
            position: absolute;
            top: 0;
            left: 0;

            @include phone-only{
                top: auto;
                bottom: 30px;
            }

            @include desktop-up{
                left: 12.5%;
            }

            svg{
                opacity: 0;
                &.trigger-animation{
                    animation-name: fade-in;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    animation-timing-function: ease-in-out;
                    @keyframes fade-in{
                        0%{
                            opacity: 0;
                        }
                        100%{
                            opacity: 1;
                        }
                    }
                }
                    
            }

        }

        // End scroll-triggered animations
        
    }

    #cotas-details{

        .col-sm-9{

            @include phone-only{
                padding: 0;
            }
            
        }
    }

    #beakart,
    #customize{

        img{
            width: 325px;

            @include desktop-down{
                width: 250px;
            }
        }
    }

    #choose-models{

        #animate-container{
            padding-top: 40px;
            transition: padding 1s ease-in-out;

            @include phone-to-tablet-landscape{
                &:not(.animate){
                    padding-top: 100px;
                }
            }

            @include tablet-landscape-up{
                &:not(.animate){
                    padding-top: 175px;
                }
            }

            .img-wrapper{
                position: relative;
                width: 100%;

                img{
                    transition: width, bottom, left, 1s ease-in-out;
                }

                img.front{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    &.animate{
                        width: 195px !important;
                        left: -45%;
                        
                        @include phone-to-tablet-portrait{
                            left: -60%;
                        }

                        @include phone-only{
                            width: 90px !important;
                            left: 0;
                            bottom: -225px;
                        }
                    }
                }

                img.null{
                    opacity: 0;

                    @include tablet-landscape-up{
                        &.animate{
                            width: 50% !important;
                        }
                    }

                    @include phone-only{
                        &.animate{
                            width: 0% !important;
                        }
                    }
                }
                
                img.back{
                    position: absolute; 
                    left: 15%;
                    bottom: 50px;
                    z-index: -1;
        
                    @include phone-to-tablet-landscape{
                        left: 40%;
                        bottom: 100px;
                    }

                    @include tablet-landscape-up{
                        left: 40%;
                        bottom: 150px;
                    }

                    &.animate{
                        width: 195px !important;
                        top: auto;
                        left: 60%;
                        bottom: 0;
                        transition: width, bottom, left, 1s ease-in-out;

                        @include phone-to-tablet-portrait{
                            left: 50%;
                        }

                        @include phone-only{
                            width: 90px !important;
                            left: auto;
                            right: 0;
                            bottom: -225px;
                        }
                    }
                }
            }

        }
           
    }

    #models-table{

        .border-bottom:not(.row-name){ // Adds properties to Bootstrap class
            padding-bottom: 2.1rem; 

            @include tablet-portrait-down{
                border-color: transparent !important;
            }
        }

        .border-bottom.row-name{ 
            padding-bottom: .8rem;
        }

        .table-row{
            padding: {
                top: 15px;
                bottom: 15px;
            }

            @include phone-only{
                &#table-header{
                    padding-bottom: 120px;
                }
            }

            @include phone-up{
                padding: {
                    top: 45px;
                    bottom: 45px;
                }
                
            }

            .row-name{
                font-size: 1rem;
                color: $grey;
                &::before{
                    @extend %row-icon;
                    
                }
                &.border-bottom::before{
                    @extend %row-icon;
                    position: inherit;
                    display: inline-block;
                    margin-right: 1rem;
                    
                }
                
            }

        } 

        #table-header h3{
            font-weight: bold;
        }

        #table-iluminacion p{
            margin-bottom: 0;
        }

        #table-iluminacion ul.feat-list,
        #table-conexiones ul.feat-list{
            padding-inline-start: 0.9em;
            font-weight: bold;

            @include phone-only{
                list-style-type: none;
                text-align: center;
            }
        }

        #table-colores,
        #table-materiales{

            .col-6 .row{
                //width: 100%;
                padding-left: 1rem;

                @include phone-only{
                    padding-left: 2.5rem;
                }

                .swatch{
                    position: relative;
                    width: 45px;
                    height: 45px;
                    padding: 0;
                    margin: {
                        right: .5em;
                        bottom: .5em;
                    }
                        @include phone-only{
                            margin: {
                                right: 1.4em;
                                top: 1.4em;
                            }
                            
                        }
                    border-radius: .5em;
                    cursor: pointer;
                    &:focus{
                        cursor: auto;
                        outline-width: 0px;
                    }

                    @include tablet-landscape-down{
                        width: 35px;
                        height: 35px;
                    }
    
                    img{
                        width: 100%;
                    }
    
                    &.blue{
                        background-color: $blueswatch;
                    }
                    &.pink{
                        background-color: $pinkswatch;
                    }
                    &.green{
                        background-color: $greenswatch;
                    }
                    &.grey{
                        background-color: $greyswacth;
                    }
                        
                }
                
            }
        }

        #table-dimensiones{
            
            ul.feat-list{
                list-style-type: none;
                padding-inline-start: 0;

                @include phone-only{
                    text-align: center;

                    strong{
                        display: block;
                    }

                }

            }
        }

        #table-cotas{

            .col-6{
                flex-wrap: wrap;
            
                img{
                    height: 190px;

                    @include phone-to-tablet-landscape{
                        height: 150px;
                    }

                    @include phone-only{
                        &.left-prof{
                            order: 2;
                            margin-top: 50px;
                        }
                        &.right-prof{
                            order: 3;
                            margin-top: 50px;
                        }
                        &.front{
                            flex-basis: 100%;
                            order: 1;
                        }
                    }
                    
                }

            }
        }

        #table-buttons{

            @include desktop-up{
                padding-top: 90px;
            }

            .btn-wrapper{
                @include phone-only{
                    text-align: center;
                }

                button{
                    @extend %beak-button;
                }
            }

        }
        
    }

    #beakart{

        .beakart-img{
            align-self: flex-end;
        }
    }

    #beakart-carousel{
        background-image: url(../../img/beakart_frame.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
        height: 360px;

        .owl-stage{
            display: flex !important;
            padding-top: 5px;

            @include phone-up{
                padding-top: 10px;
            }
    
            img{
                margin: auto;
                padding-top: 0.3rem;
                width: 390px !important;

                @include phone-only{
                    width: 90% !important;
                }

            }
        }

        .owl-nav{

            button{
                position: absolute;
                top: 35%;

                span{
                    font-size: 3rem;
                    color: $grey;
                }

                &.owl-prev{
                    left: 0;

                    @include tablet-landscape-to-desktop{
                        left: 22.5%;
                    }

                    @include desktop-up{
                        left: 32.5%;
                    }
                }
                &.owl-next{
                    right: 0;

                    @include tablet-landscape-to-desktop{
                        right: 22.5%;
                    }

                    @include desktop-up{
                        right: 32.5%;
                    }
                }
                &:hover{
                    background-color: transparent;
                }
    
            }
            
        }

        .btn-wrapper{
            bottom: -40px;
            left: 37.5%;

            @include phone-to-desktop{
                bottom: -60px;
                left: 45%;
            }

            @include desktop-up{
                bottom: -80px;
                left: 47%;
            }

            button{
                @extend %beak-button;
            }
        }

    }

    #custom-models{

        @include tablet-portrait-down{
            overflow-x: scroll;
        }

        .row.imgs-wrapper{
            
            @include tablet-portrait-down{
                flex-wrap: nowrap;
            }

            img{
                width: 100%;

                @include tablet-portrait-down{
                    width: 250px;
                }
            }

            .btn-wrapper{
                padding-top: 40px;

                button{
                    @extend %beak-button;
                }
            }
        }
    }

   #download{
       
        .download-btns{
           padding-top: 45px;
           display: flex;
           justify-content: space-between;

           @include tablet-portrait-down{
               justify-content: space-around;
           }

           button{
               @extend %beak-button;
           }
        }

   }

}