footer{
    margin-top: 80px;
    background-color: black;
    color: white;

    .container{

        padding: {
            top: 20px;
            bottom: 40px; 
        }

        h2,a,p{
            font-size: $small;
        }

        h2{
            font-weight: bold;
        }

        a:hover{
            color: $grey;
            transition: color .5s;
        }
    
        p{
            padding-bottom: 0;
            margin-block-end: 0;
        }
    
        #scroll-up img{
            width: 30px;
            filter: brightness(10);
        }

        .footer-logo img{
            width: 150px;
        }
    
        .footer-menus{
    
            padding-top: 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid $grey;
            
            ul{
                list-style-type: none;
                padding-inline-start: 0;
            }
        }
    
        .social{
            @extend %social-icons;

            @include phone-only{
                justify-content: center;
                padding-top: 10px;
            }
    
                img{
                    @include tablet-landscape-up{
                        width: 1.5rem !important;
                    }

                }
            
        }
        
        .footer-legal{
            padding-top: 40px;

            .col-md-6{
                @include tablet-portrait-down{
                    margin-bottom: 1rem;
                }

                a{
                    text-align: center;
                    text-decoration: underline;
                    padding-right: 2.5rem;
    
                    @include tablet-portrait-to-desktop {
                        padding-right: 1rem;
                    }
    
                    @include tablet-portrait-down{
                        padding-right: .5rem;
                    }
                }
            }
            
        }
    }
  
}