footer{
    margin-top: 1000px;
    background-color: black;
    color: white;

    h2{
        font-size: 0.8rem;
    }

    a{
        font-size: 0.7rem;
    }

    .social-icon > img{
        width: 40px;
    }
}