footer{
    margin-top: 80px;
    background-color: black;
    color: white;

    .container{

        padding: {
            top: 20px;
            bottom: 40px; 
        }

        h2,a,p{
            font-size: $small;
        }

        h2{
            font-weight: bold;
        }
    
        p{
            padding-bottom: 0;
            margin-block-end: 0;
        }
    
        .back-up{
            width: 30px;
            filter: brightness(10);
        }

        .footer-logo img{
            width: 150px;
        }
    
        .footer-menus{
    
            padding-top: 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid $grey;
            
            ul{
                list-style-type: none;
                padding-inline-start: 0;
            }
        }
    
        .social{
            padding: 0;
            flex-wrap: wrap;
    
            .social-icon{
                padding: {
                    top: 10px;
                    right: 0.5rem;
                }
    
                img{
                    width: 30px;

                    @include tablet-landscape-down{
                        width: 20px;
                    }
                }
    
            }  
            
        }
        
        .footer-legal{
            padding-top: 40px;

            .col-8{
                flex-wrap: wrap;
            }
            
            a{
                text-decoration: underline;
                padding-right: 2.5rem;

                @include tablet-portrait-to-desktop {
                    padding-right: 1rem;
                }

                @include tablet-portrait-down{
                    padding-right: .5rem;
                }
            }
        }
    }
  
}