header{
    height: 355px;
    padding-top: 50px;
    background-image: url(/assets/img/header_beaktor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #f9f9f9;

    h1.header-title{
        font-size: $huge;
        font-weight: bold;
        bottom: 40px;
    }
}