.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 54px;
    background-color: black;

    .nav-link{
        color: white !important;
    }

    .navbar-brand > img{
        width: 150px;
    }

    .navbar-collapse{
        background-color: black;
    
        .nav-item{
            padding: 0;
        }
    }

    .cart{
        width: 40px;
    }
}