html{ 
    font-size: 20px; // sets rem size

    @include tablet-landscape-down{
        font-size: 16px;
    }

    body{
        font-family: $main-font;

        counter-reset: subsection;
    
        a{
            color: inherit;
            text-decoration: none;

            &:hover{
                color: inherit;
                text-decoration: none;
            }
        }

        &.modal-open{
            overflow: visible;  // don't remove page scroll when modal is open
            padding-right: 0 !important;
        }

        // Swatch Popovers
        .popover{
            @extend %tooltip-popover; // re-styles Bootstrap popovers 
        }
    }

}


