// Fonts
$main-font: 'Dsignes', sans-serif;

// Font-sizes 
$huge: 3.5rem;
$big: 2.2rem;
$regular: 1rem;
$small: .8rem;
$tiny: .7rem;

// Colors
$yellow: #F8D000;
$grey: #AFADAD;
$beakpink: #FAD0C5;
$beakblue: #99BCCE; // Beaktor blue
$beakflesh: #FFE7AC;
$beakgreen: #C0E0CD;
$bootsblack: #212529; // Bootstrap black
// Table color swatches
$blueswatch: #7595B3;
$pinkswatch: #F6D0D5;
$greenswatch: #CBD6D0;
$greyswacth: #D4D3D4;